.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #080a10;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.greeting{
  height: 100%;
  width: 100%;
  background-color: #080a10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel Decorative', sans-serif;
}

.bossButton{
  border: none;
  border-radius: 1em;
  padding: 1em;
  font-weight:bolder;
  color: #080a10;
  background-color: #678983;
  margin: 1em;
}

.greeting p{
  color: #678983;
  margin: 1em;
}